.header {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
  justify-content: center;
  align-items: center;
  min-width: 1052px;
  min-height: 105px;
  margin: 92px 24px 92px;
}

.header__links-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  word-spacing: 4px;
}

.header__menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header__links-list-item {
  list-style-type: circle;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  display: flex;
  margin-top: 4px;
}

.header__logo-image {
  height: 104px;
}

.address {
  justify-self: center;
  color: #000;
  font-size: 18px;
  margin-left: 157px;
  margin-top: 1px;
  padding-top: 6px;
}

.header__address {
  line-height: 25px;
  text-underline-offset: 3px;
  font-style: normal;
  margin-left: 8px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  min-width: 1100px;
  min-height: 757px;
  margin-bottom: 179px;
  z-index: 0;
  padding-top: 163px;
}

.cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  padding: 0 50px;
}

.aligned-text {
  position: relative;
  text-align: start;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  position: relative;
  top: 9px;
  text-align: center;
  letter-spacing: 0.3em;
}

.aligned-text_right {
  position: relative;
  top: 11px;
  text-align: end;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 75% 248px;
  grid-template-rows: 70px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  word-spacing: 18px;
}

.cover__description-text {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  top: 151px;
  left: 83px;
}

.bet-button {
  position: relative;
  border: 1px solid currentColor;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  top: 138px;
  right: 30px;
}

.lots {
  box-sizing: border-box;
  min-width: 1052px;
  margin: 0 24px 140px;
}

.lots__card-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  top: 27px;
}

.card_type_film {
  width: 330px;
  min-height: 567px;
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  width: 335px;
  min-height: 567px;
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  width: 336px;
  min-height: 567px;
  margin-left: 9px;
  background-image: url("../images/card-lot-03.jpg");
}

.card {
  display: grid;
  grid-template-rows: 27% 2fr;
  grid-auto-rows: minmax(90px, auto);
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  z-index: 0;
}

.lots__heading {
  position: relative;
  width: 30%;
    left: 41px;
}

.lots__heading h2 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__look-more-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-left: 40px;
}

.card_type {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__title {
  position: relative;
  top: 48px;
  left: 8px;
  width: 310px;
  padding: 0px 29px 0 34px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
}

.card__text {
  position: relative;
  top: 48px;
  left: 8px;
  width: 310px;
  padding: 0px 29px 0 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
 }

 .card-link {
  text-decoration: none;
}


.lots__look-more-link {
  position: relative;
  top: 51px;
  width: 246px;
}

.about {
  position: relative;
  min-width: 1052px;
  margin: 0 24px 178px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  margin-top: 206px;
  margin-left: 5px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50% 50% 50% 50%;
  margin: 25px 0px 0px 44px;
}

.about__logo-image {
  width: 240px;
  height: 115px;
  margin-top: 63px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.about__text {
  font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    margin-top: 125px;
    margin-left: 6px;
}

.text  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 421px;
}

.text_about {
  margin-top: 98px;
}

.text_about-int {
  margin-top: 27px;
}


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  max-height: 97px;
  margin: 178px 50px 91px;
}

.footer__address {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-self: start;
  align-self: start;
}

.footer__address-cont {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  font-style: normal;
  bottom: 4px;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-auto-rows: minmax(50px, auto);
}

.footer__menu {
  display: grid;
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
}

.footer__menu-list {
  position: relative;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  list-style-type: none;
  bottom: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  list-style-type: none;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;
}

.footer__social-icon-yt {
  position: relative;
  bottom: 4px;
  left: 30px;
}

.footer__social-icon-vk {
  position: relative;
  bottom: 4px;
  left: 17px;
}

.footer__social-icon-pinterest{
  position: relative;
  bottom: 4px;
  left: 1px;
}