.header {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 105px;
    align-items: center;
    max-width: 1100px;
    padding: 92px 24px 96px;
  }
  
  .header__menu {
    padding: 1px 29px 0px 23px;
    font-size: 18px;
    color: #000;
  }
  
  .header__links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .header__links-list-item {
    list-style-type: circle;
    text-underline-offset: 4px;
  }
  
  .header__links-list-item_no-bullit {
    list-style-type: none;
  }
  
  .header__link {
    color: #000;
    font-size: 18px;
    line-height: normal;
  }
  
  .header__link_active .header__link {
    text-decoration: none;
  }
  
  .header__logo {
    display: flex;
    padding-right: 5px;
  }
  
  .header__logo-image {
    width: 148px;
    height: 105px;
  }
  
  .address {
    justify-self: right;
    color: #000;
    font-size: 18px;
    line-height: 21px;
    text-underline-offset: 4px;
    padding: 42px 33px 43px 20px;
  }
  
  .header__address {
    line-height: 27px;
    text-underline-offset: 3px;
  }
  
  .cover {
    position: relative;
    background-image: url("/images/cover.jpg");
    width: 1100px;
    height: 757px;
    margin-bottom: 179px;
  }
  
  .cover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }
  
  .cover__title {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    padding-left: 100px;
    z-index: 1;
  }
  
  .cover__image {
    height: 757px;
  }
  
  .aligned-text {
    display: block;
  }
  
  .aligned-text_right {
    margin-top: 5px;
    margin-left: 532px;
    letter-spacing: 60px;
  }
  
  .letter_1 {
    letter-spacing: 30px;
    margin-left: -30px;
  }
  
  .aligned-text_top {
    margin-top: 163px;
    margin-left: -52px;
    letter-spacing: 30px;
  }
  
  .aligned-text_center {
    margin-top: 10px;
    margin-left: 234px;
    letter-spacing: 30px;
  }
  
  .letter_2 {
    letter-spacing: 60px;
  }
  
  .letter_3 {
    letter-spacing: 30px;
  }
  
  .letter_4 {
    letter-spacing: 59px;
  }
  
  .cover__description {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 18px;
    }
  
  .cover__description-text {
    position: absolute;
    color: #fff;
    margin-top: 668px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 22px;
    z-index: 1;
  }
  
  .bet-button {
    position: absolute;
    margin-top: 655px;
    margin-left: 791px;
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
  }
  
  .lots {
    width: 1052px;
    height: 692px;
    margin: 0 24px 154px 24px;
  }
  
  .lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
  }
  
  .card_type_film {
    position: relative;
    width: 330px;
    height: 567px;
    margin-right: 26px;
    background-image: url("/images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .card_type_film::after {
    content: "";
    position: absolute; 
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }
  
  .card_type_book {
    position: relative;
    width: 335px;
    height: 567px;
    background-image: url("/images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .card_type_book::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }
  
  

  .card_type_picture {
    position: relative;
    width: 336px;
    height: 567px;
    margin-left: 9px;
    background-image: url("/images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .card_type_picture::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
  }
  
  .lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
    margin-left: 35px;
  }
  
  .lots__look-more-link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: -130px;
    margin-left: -668px;
    padding-top: 29px;
  }
  
  .card_type {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
  }
  
  .card__title {
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 1;
  }
  
  .card__text {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    z-index: 1;
  }
  
  .title_type_film {
    padding-top: 49px;
    padding-left: 37px;
    ;
  }
  
  .text_type_film {
    padding: 372px 37px
  }
  
  .card_type_book {
    padding: 37px;
    margin-bottom: 169px;
  }
  
  .text_type_book {
    margin-top: 120px;
    padding-right: 30px;
    padding-left: 10px;
    margin-left: -6px;
  }
  
  .title_type_book {
    margin-top: 12px;
    margin-left: 4px;
    padding-right: 14px;
  }
  
  .title_type_picture {
    margin-top: 49px;
    margin-left: 41px;
    margin-bottom: 18px;
    padding-right: 47px;
  }
  
  .text_type_picture {
    margin-left: -318px;
    padding-left: 359px;
    padding-right: 38px;
    margin-top: 253px;
  }
  
  .about {
    width: 1052px;
    height: 592px;
    margin: 0 24px 178px;
  }
  
  .about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
  }
  
  .about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50% 50% 50% 50%;
    margin: 28px 0px 0px 44px;
  }
  
  .about__logo-image {
    width: 240px;
    height: 115px;
    margin-top: 60px;
  }
  
  .about__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
  }
  
  .about__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    margin-top: 125px;
    margin-left: 5px;
  }
  
  .first__text {
    margin-top: 100px;
  }
  
  .second__text {
    margin-top: 27px;
  }
  
  .footer {
    width: 1000px;
    height: 97px;
    margin: 0 50px 91px 50px;
  }
  
  .footer__column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    justify-items: center;
  }
  
  .footer__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    justify-items: end;
    margin-top: -160px;
  }
  
  .footer__social-list-item {
    height: 50px;
    margin-right: -518px;
    margin-left: 55px;
  }  
      
   .footer__address {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 18px;
    line-height: 1.35;
    color: #000;
    margin-top: -2px;
    margin-left: -3px;
    }
  
  .footer__menu-list {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
    margin-top: -102px;
    margin-left: -7px;
    list-style-type: none;
  }
  
  .footer__social-icon-yt {
    width: 50px;
    height: 50px;
  }

  .footer__social-icon-vk {
    width: 50px;
    height: 50px;
    margin-right: 237px;
  }

  .footer__social-icon-pinterest {
    width: 50px;
    height: 50px;
    margin-right: 475px;
  }

  .footer__social-link {
    margin-right: 45px;
  }
  
  
  
  
